<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sheffanessea</title>
  <link rel="stylesheet" href="CSS/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com"> -->
 

</head>
<body>

  

<div class="header">
    <!-- ! route is correct but getting 404 error -->
    <audio class="audiobutton" controls>
      <source src="/backgroundmusic.mp3" type="audio/mpeg">
    </audio>

  <div class="container">
    <div class="navbar">
      <div class="logo" >
        <!-- ! route is correct but getting 404 error -->
        <img src="/pictures/sheffmascot.png" width="125px">
      </div>
      <nav>
        <ul>
          <li a href="" class="button">home</li>
          <li a href="" class="button">clothing</li>
          <li a href="" class="button">contact us</li>
          <li a href="" class="button">about</li>
          <li a href="" class="button">more</li>
        </ul>
      </nav>
      <!-- ! route is correct but getting 404 error -->
      <img src="/pictures/cart.png" width="30px" height="30px">
    </div>


    <div class="row">
      <div class="title">
        <h1>SHEFFANESSEA</h1>
        <p>"Transforming Into The Best Version Of Oneself"</p>
        <div>





      <div class="col-2">
        <!-- <img class="backgroundpic" src="https://www.pngall.com/wp-content/uploads/2016/04/Beach-Download-PNG.png" alt=""> -->
        <style>
          body{
            background-image: url('https://wallpapers.com/images/featured/sky-mvehfqz6w2ges2dj.jpg');
          }
        </style>

      </div>
    </div>
  

  <div class="front"></div>

<!-- FEATURED CATEGORIES -->

<!-- <div class="categories">
  <div class="row">
    <div class="col-3">
      <img src="/pictures/PHOTO-2024-03-25-08-07-52.jpg">
    </div>
    <div class="col-3">
      <img src="/pictures/PHOTO-2024-03-25-08-17-08.jpg">
    </div>
    <div class="col-3">
      <img src="/pictures/IMG_1600.jpg">
    </div> -->
    
  <!-- </div> -->
<!-- </div> -->


<h1>Products</h1>
    <div class="products">
      <div class="sweaterdisplay">
        <h1>sweater</h1>
        <div id="sweater">
        <% products.forEach(product => { %>
          <%console.log(product)%>
          <%if(product.type === "sweater" ){%>
          <div class="product">
           <h2><%=product.title%></h2>
           <p>Price: $<%= product.price.toFixed(2) %></p>
           <p>Stock: <%=product.stock%></p>
           <img src="<%= product.picurl %>" alt="<%= product.title %>">
           
           <!-- Other product details -->
           </div>
         <%}%>
         <% }); %>
        </div>

      </div>
      <div class="hatdisplay">
        <h1>Hat</h1>
        <div class="hat">
        <% products.forEach(product => { %>
          <%console.log(product)%>
          <%if(product.type === "hat" ){%>
          <div class="product">
           <h2><%=product.title%></h2>
           <p>Price: $<%= product.price.toFixed(2) %></p>
           <p>Stock: <%=product.stock%></p>
           <img src="<%= product.picurl %>" alt="<%= product.title %>">
           
           <!-- Other product details -->
           </div>
          </div>
         <%}%>
         <% }); %>

      </div>
      <div class="pantsdisplay">
        <h1>pants</h1>
        <div class="pants">
        <% products.forEach(product => { %>
          <%console.log(product)%>
          <%if(product.type === "pants" ){%>
          <div class="product">
           <h2><%=product.title%></h2>
           <p>Price: $<%= product.price.toFixed(2) %></p>
           <p>Stock: <%=product.stock%></p>
           <img src="<%= product.picurl %>" alt="<%= product.title %>">
           
           <!-- Other product details -->
           </div>
          </div>
         <%}%>
         <% }); %>

      </div>
    </div>



  
<script src="./frontpage.js"></script>
</body>
</html>
